
.boton{
background-color: #8c30f5;
color:#ffff; 
width: 70%;
text-align: center;
font-size: 16px;
font-weight: 400;
height: 56px;
border-radius: 16px;
margin: 0 !important;
}
.boton:hover{
    background-color: #8c30f5;
    color:#ffff; 
    }

input.login{
    border-radius: 16px;
    height: 56px;
    width: 70%;
    background: #f3f3f3;
    border:none;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
    color: #333;
}
.containerRigth{
    height: 100vh;

}

.containerLeft{
    background-color: #f4f5ff;
    height: 100vh;
}
.imagenIzquierda{
    margin: 25% auto;

}

.contenedor{
    height: 100vh !important;
    margin: 0 !important;
   
}
.WelcomeBack{
    color: #A0A3BD;

}

.signUpButton{
   border-radius: 8px;
   width: 100px;
   height: 40px;
   top: 237px;
   left: 1168px;
   background-color: #FFFFFF;
   border: solid 1px #d8d8d8;
   cursor: pointer;
}
.loginHeader{
    margin-top: 15px;
}