
a:link {
  text-decoration:none;
}

div.mapa{
    width:300px;
    height: 200px;
}

.mapboxgl-user-location-accuracy-circle {
    background-color: rgba(140, 49, 245, 0.31) !important;
    
}


.mapboxgl-user-location-dot {
    background-color: #fff !important;
    border: 3px solid rgba(140, 49, 245);
}

.mapboxgl-user-location-dot::before {
    display:none;
    
}

.mapboxgl-ctrl-icon {
    color:rgba(140, 49, 245);
    
}

/*Chrome*/


    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #ddd;
      border-radius: 15px;
      height:34px;
      opacity:0.7;
      background-color:#fff;
     
      

    }

    input[type='range']:hover {
        opacity:1;
        cursor:pointer;
  
  
      }
    
    input[type='range']::-webkit-slider-runnable-track {
     
      -webkit-appearance: none;
      color: rgba(140, 49, 245);
      border-radius: 15px;
      height:50px;
      outline: 50px solid black;
    }
    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      cursor: ew-resize;
      background: #434343;
      box-shadow: 160px rgba(140, 49, 245);
      height:30px;
      width:30px;
      border-radius: 15px;
      
    }


/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgba(140, 49, 245); 
  height:100%;
  border-radius: 15px;
  height:10px;
}

input[type="range"]::-moz-range-thumb {
    background-color: #fff;; 
    height:20px;
    width:20px;
    border-radius: 15px;
    z-index:2;
    border-color:rgb(116, 38, 204);
    outline: 5px solid rgb(116, 38, 204, 0.5);
    
    
 

  }
input[type="range"]::-moz-range-track {  
  background-color: #ddd;
  border-radius: 15px;
  height:10px;

}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(140, 49, 245);
  border-radius: 15px; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #ddd;
  border-radius: 15px;
}


.bubble {
 margin: 20px 0;
 background-color: #ded3ff;
 width: 150px;
 padding: 5px;
 font-size: 15px;
 font-weight: 700;
 color:#8C31F5;
 border-radius: 15px;
 text-align: center;
  
}

.Center {
    text-align: center !important;
}

.Descrip h2 {
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.Descrip {
    margin-bottom: 60px;
    font-weight:400;
    color:333;
    letter-spacing: 1px;
}

.texto {
    margin-top: 40px;
    margin-bottom: 100px;
    font-weight: 400;
    letter-spacing: 1px;
}

textarea.Center {
  border-radius: 15px;
  box-shadow: none;
  border:none;
  background-color:#EFF0F6;
  font-size: 12px;
  text-transform: capitalize;
  padding-right:15px;
  padding-bottom: 8px;
  padding-top:5px;
  letter-spacing: 1px;
  font-weight:600;
     
}

textarea.Center {
outline:none

}


