
.header {
    width:100%;
    margin-left:0px;
    padding-top: 15px;
}

.container {
    max-width:100% !important;
}




.botonera {
    margin: 40px 0 ;
}

.botonera button {
    border: none;
    margin: 10px;
    height:6px;
    width: 30px;
    border-radius: 5px;
}

.botonera button:hover {
    background-color:#EFF0F6;
    
}


button.activo  {
    background-color:rgba(140, 49, 245);
    border: none;
    margin: 20px;
    height:6px;
    width: 30px;
    border-radius: 5px;
    outline: 5px solid rgba(204, 160, 255, 0.5);
}

.activo:hover {
    outline: 5px solid rgba(204, 160, 255);
    
}

.activo:active {
    outline: 5px solid rgba(204, 160, 255);
}